name: Metrics

on:
  # Schedule updates (each hour)
  schedule: [{cron: "0 */2 * * *"}]
  # Lines below let you run workflow manually and on each commit
  workflow_dispatch:
  push: {branches: ["master", "main"]}

jobs:
  metrics-left:
    runs-on: ubuntu-latest
    environment: 
      name: production
    permissions:
      contents: write
    steps:
      - name: left
        uses: shenghuo2/metrics@master
        with:
          retries: 3
          retries_delay: 300
          # Your GitHub token
          token: ${{ secrets.METRICS_TOKEN }}
          filename: metrics.left.svg

          # Options
          user: shenghuo2
          template: classic
          base: ""
          config_timezone: Asia/Shanghai
          plugin_isocalendar: yes
          plugin_isocalendar_duration: half-year
          plugin_languages: yes
          plugin_languages_colors: github
          plugin_languages_limit: 8
          plugin_languages_ignored: php, javascript
          plugin_languages_details: bytes-size, percentage
          commits_authoring: 1308357113@qq.com, study@shenghuo2.cn, shenghuo2
          # plugin_starlists: yes
          plugin_starlists_languages: yes
          plugin_starlists_limit_languages: 8
          plugin_starlists_limit_repositories: 0
          plugin_rss: yes
          plugin_rss_source: https://blog.shenghuo2.top/index.xml
          plugin_rss_limit: 3
          config_order: isocalendar, languages, starlists, rss

  metrics-right:
    runs-on: ubuntu-latest
    environment: 
      name: production
    permissions:
      contents: write
    steps:
      - name: right
        uses: shenghuo2/metrics@master
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          filename: metrics.right.svg

          # Options
          user: shenghuo2
          template: classic
          base: ""
          config_timezone: Asia/Shanghai
          plugin_topics: yes
          plugin_topics_limit: 0
          plugin_topics_mode: icons
          plugin_achievements: yes
          plugin_achievements_display: compact
          plugin_achievements_secrets: yes
          plugin_achievements_limit: 8
          plugin_achievements_threshold: B
          plugin_achievements_ignored: member, worker, automator, infographile
          plugin_code: yes
          plugin_code_languages: go, python, dockerfile 
          plugin_code_days: 14
          plugin_code_load: 400
          plugin_activity: yes 
          plugin_activity_limit: 3
          plugin_activity_days: 7
          plugin_activity_filter: issue, pr, release, push, review 
          plugin_activity_skipped: shenghuo2
          config_order: topics, code, achievements, activity

  snake:
    runs-on: ubuntu-latest
    environment: 
      name: production
    permissions:
      contents: write
    steps:
      - name: snake
        uses: Platane/snk@v3
        with:
          github_user_name: ${{ github.repository_owner }}
          outputs: |
            github-snake.svg?palette=github-light
            github-snake-dark.svg?palette=github-dark
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            
      - name: deploy snake to gist
        uses: exuanbo/actions-deploy-gist@v1.1.4
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          gist_id: bfce20b14ab0484cef03bae6e60e0b3a
          gist_file_name: github-snake.svg
          file_path: github-snake.svg

      - name: deploy dark snake to gist
        uses: exuanbo/actions-deploy-gist@v1.1.4
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          gist_id: bfce20b14ab0484cef03bae6e60e0b3a
          gist_file_name: github-snake-dark.svg
          file_path: github-snake-dark.svg

  wakatime:
    name: Update-wakatime
    runs-on: ubuntu-latest
    environment: 
      name: production
    permissions:
      contents: write
    steps:
      - uses: anmol098/waka-readme-stats@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          COMMIT_BY_ME: True
          # SHOW_LINES_OF_CODE: True
          SHOW_TOTAL_CODE_TIME: False
          SHOW_PROFILE_VIEWS: False
          SHOW_COMMIT: True
          SHOW_DAYS_OF_WEEK: False
          SHOW_LANGUAGE: True
          SHOW_OS: True
          # SHOW_PROJECTS: False
          SHOW_TIMEZONE: True
          SHOW_EDITORS: True
          SHOW_LANGUAGE_PER_REPO: True
          SHOW_SHORT_INFO: False
          SHOW_LOC_CHART: False
          SHOW_UPDATED_DATE: False
